*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
}
   
.header {
    background-color: cornflowerblue;
    text-align: center;
    height: 10vh;
    width: 100vw;
    grid-column: 1 / span 4;

}
   
#aside{
    height: 75vh;
    width: 25vw;
    background-color: lightpink;
    text-align: center;
}

.section {
    height: 75vh;
    width: 75vw;
    background-color:lightgreen;
    /*margin-left: auto;*/
    grid-row: auto;
    text-align: center;
}

.end {
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color:lightsalmon ;
    height: 10vh;
    width: 100vw;
    text-align: center;
}


    








    




    

    

    